/*
Styles by:
Martin "Gartin" Georgiev

Last update: 25.02.2015

*/




/* * * * * * *
GENERAL RULES
* * * * * * */

@font-face {
    font-family: 'DaysRegular';
    src: url('../ressources/fonts/Days-webfont.eot');
    src: url('../ressources/fonts/Days-webfont.eot?#iefix') format('embedded-opentype'),
        url('../ressources/fonts/Days-webfont.woff') format('woff'),
        url('../ressources/fonts/Days-webfont.ttf') format('truetype'),
        url('../ressources/fonts/Days-webfont.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #EFECEF;
    box-sizing: border-box;
    font-family: DaysRegular;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

/* * * * * * *
    HEADER
* * * * * * */

header {
    box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
    text-align: center;
}

header img {
    margin: 30px 0;
}

nav li {
    display: inline-block;
    font-size: 36px;
    margin: 10px 20px;
}

nav a:hover {
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
}

nav a:active {
    color: rgba(0,0,0,0.5);
    text-shadow: 0 0 rgba(0,0,1);
}

.active {
    color: #E6E272;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);

}

/* * * * * * * * * *
    MAIN CONTENT
* * * * * * * * * */

main .wrapper {
    position: relative;
}

main {
    padding-top: 60px;
}

article {
    display: inline-block;
    width: 100%;
    height: 400px;
    text-align: center;
}

#jokes section {
    text-align: left;
    margin-top: 20px;
}

#jokes h3 {
    margin-top: 20px;
}

#jokes h4 {
    font-size: 22px;
    padding: 10px;
}

#gifs h4 {
    font-size: 32px;
    padding: 20px;
}

#gifs section {
    margin-top: 80px;
}

#gifs img {
    width: 600px;
}

.scrollToTop{
    width:100px; 
    height:100px;
    padding:10px; 
    text-align:center; 
    /*background: whiteSmoke;*/
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:80%;
    right:0;
    display:none;
    background: url('../ressources/img/arrow-up.png') no-repeat 0px 20px;
    background-size: 100px 100px;
    background-repeat: no-repeat;

}   
.scrollToTop:hover{
    text-decoration:none;
}