/*
Styles by:
Martin "Gartin" Georgiev

Last update: 25.02.2015

*/




/* * * * * * *
GENERAL RULES
* * * * * * */

@font-face {
    font-family: 'DaysRegular';
    src: url('../ressources/fonts/Days-webfont.eot');
    src: url('../ressources/fonts/Days-webfont.eot?#iefix') format('embedded-opentype'),
        url('../ressources/fonts/Days-webfont.woff') format('woff'),
        url('../ressources/fonts/Days-webfont.ttf') format('truetype'),
        url('../ressources/fonts/Days-webfont.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #EFECEF;
    box-sizing: border-box;
    font-family: DaysRegular;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

/* * * * * * *
    HEADER
* * * * * * */

header {
    box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
    text-align: center;
}

header img {
    margin: 30px 0;
}

nav li {
    display: inline-block;
    font-size: 36px;
    margin: 10px 20px;
}

nav a:hover {
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
}

nav a:active {
    color: rgba(0,0,0,0.5);
    text-shadow: 0 0 rgba(0,0,1);
}

.active {
    color: #E6E272;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);

}

/* * * * * * * * * *
    MAIN CONTENT
* * * * * * * * * */

main .wrapper {
    position: relative;
}

main {
    padding-top: 60px;
}

article {
    display: inline-block;
    width: 100%;
    height: 400px;
    text-align: center;
}

#jokes section {
    text-align: left;
    margin-top: 20px;
}

#jokes h3 {
    margin-top: 20px;
}

#jokes h4 {
    font-size: 22px;
    padding: 10px;
}

#gifs h4 {
    font-size: 32px;
    padding: 20px;
}

#gifs section {
    margin-top: 80px;
}

#gifs img {
    width: 600px;
}

/* ------ FIxed navbar --------- */

.fixed{
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99; 
    background-color: #EFECEF;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
   
}


/* ------ Scroll to top button --------- */
.scrollToTop{
    border: 1px solid transparent;
    z-index: 1;
    width:100px; 
    height:100px;
    padding:10px; 
    text-align:center; 
    /*background: whiteSmoke;*/
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:500px;
    right:40px;
    display:none;
    background: url('../ressources/img/arrow-up.png') no-repeat 0px 20px;
    background-size: 100px 100px;
    background-repeat: no-repeat;

}   
.scrollToTop:hover{
    text-decoration:none;
}

/* ------ footer --------- */

footer {
    margin-top: 20px;
    background-color: #DDD;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.4);

}
footer p {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 32px;
}

#mail, #skype, #twitter, #facebook {
    display: inline-block;
    margin: 1% 8%;
}

#mail  {
    width: 78px;
    height: 78px;
    background: url('../ressources/img/mail.png') no-repeat left;
    box-shadow: 10px 10px 5px #ccc;
    border-radius: 50px;
}
#mail:hover {
    background: url('../ressources/img/mail.png') no-repeat right;
    box-shadow: 10px 10px 5px #888888; 
}

#skype {
    width: 78px;
    height: 78px;
    background: url('../ressources/img/skype.png') no-repeat left;
    box-shadow: 10px 10px 5px #ccc;
    border-radius: 50px;
}
#skype:hover {
    background: url('../ressources/img/skype.png') no-repeat right; 
    box-shadow: 10px 10px 5px #888888;  
}

#twitter {
    width: 78px;
    height: 78px;
    background: url('../ressources/img/twitter.png') no-repeat left;
    box-shadow: 10px 10px 5px #ccc;
    border-radius: 50px;
}
#twitter:hover {
    background: url('../ressources/img/twitter.png') no-repeat right;
    box-shadow: 10px 10px 5px #888888; 
}

#facebook {
    width: 78px;
    height:78px;
    background: url('../ressources/img/facebook.png') no-repeat left;
    box-shadow: 10px 10px 5px #ccc;
    border-radius: 50px;
}
#facebook:hover {
    background: url('../ressources/img/facebook.png') no-repeat right; 
    box-shadow: 10px 10px 5px #888888; 
}

#copyrights {
    font-size: 12px;
    color: #9f9c9c;
}

#copyrights img {
    width: 30px;
}